body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url('dessert-on-a-plate.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: block;
    min-height: 100vh;
    overflow-y: auto;
    margin: 0;
    padding-top: 60px; /* for appbar */
}

.appbar {
    background-color: purple;
    color: white;
    padding: 4px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.appbar h2 {
    margin: 0;
    padding: 10px 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px grey;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 15px;
}

.login-form, .payment-section {
    margin-bottom: 20px;
}

h1, h2, h3 {
    text-align: center;
    color:aqua;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.payment-options {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.payment-options button {
    flex: 1;
    margin: 0 5px;
}

